body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #a7b50d;
}
.darkmode{
    background-color: #04081d;
    color:  rgb(10, 67, 117);
}
.checked{
    color: orange;
}
.button1{
    background-color: white;
    color: black;
    border: 2px solid #04AA6D;
}

#anime-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px
}

.anime-card {
    background-color: white;
    width: 250px;
    margin: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.anime-card img{
    max-width: 100%;
    border-radius: 8px;
}

.anime-name{
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
}
.anime-rating{
    color: gold;
    margin-bottom: 10px;
}
.anime-description{
    font-size: 1em;
    color: #666;
}header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}

.search-bar input{
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

button {
    padding: 0.5rem 1rem;
    background-color: #E50914;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7e2206;
}

ul {
    list-style-type: none;
    margin-top: 10px;
}

ul li {
    padding: 0.5rem;
    background-color: #e0e0e0;
    margin-bottom: 5px;
    border-radius: 4px;
}